# Nao commitar credenciais reais.
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public

# Admin MVP
ADMIN_USERNAME=admin
ADMIN_PASSWORD=troca_me

# PIN inicial da pagina publica /consulta
PUBLIC_CONSULT_PIN=1234

# Opcional
NEXT_PUBLIC_APP_URL=http://localhost:3000

